@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.gallery-image{
    padding: 5%;
    padding-top: 10% !important;
}

h1{
    text-align: center;
}

.card{
    background-color: transparent;
    border: none;
}

th{
    color: white !important;
}

td{
    color: white;
}