
#register-form{
    background: #16222a !important;
    border: none;
}

#register-button{
    background: #0f171c;
    border: none;
    transition: 0.5s;
}

#register-button:hover{
    background-color: #32d19d;
    color: #16222a;
}

#login-button{
    background: #0f171c;
    border: none;
    transition: 0.5s;
}

#login-button:hover{
    background-color: #32d19d !important;
    color: #16222a;
}

.form-control{
    background: #1d1d24;
    border: none;
    color: white;
}

select{
    width: 100%;
    height: 35px;
    background: #1d1d24;
    border: none;
    color: #656d76;
    text-align-last: left;
    padding-left: 13px;
    border-radius: 7px;
}

#initial-avatar{
    display: none;
}

#avatar_image{
    width: 10%;
    height: 10%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    margin-bottom: 5%;
}

input[type=username]:focus{
    background-color: #0f171c;
    color: white;
}

input[type=password]:focus{
    background-color: #0f171c;
    color: white;
}

input[type=firstName]:focus{
    background-color: #1d1d24;
    color: white;
}

input[type=lastName]:focus{
    background-color: #0f171c;
    color: white;
}

input[type=email]:focus{
    background-color: #0f171c;
    color: white;
}

input[type=number]:focus{
    background-color: #0f171c;
    color: white;
}

#change_status{
    color: #32d19d;
}

#firstName{
    background-color: #0f171c;
}

#lastName{
    background-color: #0f171c;
}

#email{
    background-color: #0f171c;
}

#phoneNumber{
    background-color: #0f171c;
}

#avatar{
    background-color: #0f171c;
}

#deletesub--button{
    background-color: #415a77;
    border: none;
    transition: 0.5s;
}

#deletesub--button:hover{
    background-color: #32d19d;
    color: #16222a;
}

#payment{
    background-color: #415a77;
    border: none;
    transition: 0.5s;
}

#payment:hover{
    background-color: #32d19d;
    color: #16222a;
}

#history{
    background-color: #415a77;
    border: none;
    transition: 0.5s;
}

#history:hover{
    background-color: #32d19d;
    color: #16222a;
}

#myschedule-button {
    background-color: #415a77;
    border: none;
    transition: 0.5s;
}

#myschedule-button:hover{
    background-color: #32d19d;
    color: #16222a;
}

