/*@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

body {
  /*font-family: 'Montserrat', sans-serif !important;*/
  font-family: 'PT Sans', sans-serif !important;
  background: #16222a !important;
  color: white !important;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

nav .navbar-nav li a{
  color: white !important;
}

#signup-button{
  color: black !important;
  background: f18110 !important;
  border: transparent !important;
}

#company-name{
  color: white;
}

#navbar{
  background: #2d2c38 !important;
}

#home-banner{
  height: 50%;
}

#home-banner-text{
  text-align: center;
}

a{
  color: #32d19d !important;
  text-decoration: none !important;
  transition: 0.5s;
}

a:hover{
  color: #778da9 !important;
}