/*@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');*/

.gallery-image{
    padding: 5%;
    padding-top: 10% !important;
}

.studio-heading{
    text-align: center;
}

.card{
    background-color: transparent;
    border: none;
}

.studio-table-heading{
    color: white !important;
}

.studio-table-value{
    color: white;
}

#map-image{
    width: 300px;
    height: 300px;
}